html, body {
    position: absolute;
    margin: 0; border: 0; padding: 0;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: hidden;
}

div {
    margin: 0; border: 0; padding: 0;
    display: block;
}

p {
    margin: 0;
    padding: 3px;
}

button {
    margin: 0; border: 0; padding: 0;
    border-radius: 7px;
    background-color: rgb(206, 206, 206);
}

button:hover {
    border-color: rgb(107, 107, 107);
}

.centered {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
}

canvas {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
